footer.footer
    div.footer__copyright
        | 2015 &copy; - Foundation Theme

    div.footer__navigation
        nav.menu.menu_type_footer
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#")
                        | Services
                
                li.menu__item
                    a.menu__link(href="#")
                        | Our Works
                
                li.menu__item
                    a.menu__link(href="#")
                        | News & Events
                
                li.menu__item
                    a.menu__link(href="#")
                        | Work with us
                
                li.menu__item
                    a.menu__link(href="#")
                        | F.A.Q.

                li.menu__item
                    a.menu__link(href="#")
                        | Contact us

                li.menu__item
                    a.menu__link(href="#")
                        | Shop


script(src="dist/scripts/main.js")