header.header.header_type_untitled
    .header__navigation
        .header__logo-area
            a(href="/")
                img.logo(src="/dist/images/logo.png", alt="FDM")

        .header__actions-area.icon-links
            include _header__actions-area.pug