// Самый сложный тип смещения. Предназначен для разрешения ситуаций,
// когда колонки в контейнере одного размера не совпадают с колонками
// в контейнере другого размера. Миксин вычисляет сперва разницу между
// двумя контейнерами и видимую область вьюпорта для колонки указанной ширины.
// Затем вычисляется размер колонки такой же ширины, но относительно второго
// контейнера, и наконец, вычисляется разница между полученными двумя размерами
// колонок. Эта разница смещает элемент влево.
@mixin relative-offset($col-index, $element-width, $min: $content-width, $max: $content-width-max) {
    // algorithm
        // видимая область
        // - область сбоку
        // (1900 - 1170) / 2 = 365
        // - видимая
        // 1254 - 365 = 889
        // разница
        // - расстояние, занимаемое col-9
        // (100 / 12) * 9 = 75
        // (1170 / 100) * 75 = 877.5
        // 889 - 877.5 = 11.5

    // ширина колонки в процентах
    $col-width: get-column-width-relative($col-index);
    
    // разница между контейнерами, поделенная на два
    // в качестве контейнеров тут юзаются размеры контента
    $difference: get-difference-between($min, $max);
    
    // получаем ширину колонки в контексте минимального размера
    $content-min-viewport: ($min / 100) * strip-units($col-width);

    // получаем ширину колонки в контексте максимального размера
    $element-viewport: $element-width - $difference;

    // разница, умножаем на -1, чтобы соотв. потоку документа
    $offset: ($element-viewport - $content-min-viewport) * -1;

    margin-left: round($offset);
}

// Смещает элемент на разницу между двумя контейнерами контента
// с учетом ширины самого элемента. Полезен, когда необходимо сровнять
// границы элемента с минимальным контейнером при помощи отступов.
// Используется в слайдере типа uncover.
@mixin difference-offset($col-index) {
    // ширина колонки в абсолютных единицах
    $col-width-absolute: get-column-width-absolute($col-index, $content-width);
    
    // разница между двумя контейнерами контента
    $difference: get-difference-between($content-width, $content-width-max);

    $offset: ($col-width-absolute - $difference) * -1;

    margin-left: $offset;
}

// Данный тип смещения похож на difference-offset, но в качестве базы использует
// не размеры колонок и ширины контента, а максимальную ширину контейнера
// для переданного брекпойнта. Элемент в данном смещении должен занимать
// ширину, равную <ширина-контейнера> * <множитель>
// Такое смещение используется на разрешениях для мобильных устройств
// как логическое продолжение different-offset
@mixin uncover-offset($breakpoint, $multiplier: 2) {
    $current-width: max-width($breakpoint, false);

    $difference: get-difference-between($content-width, $content-width-max);

    $offset: ($current-width * $multiplier) - ($difference + $current-width);

    // Умножаем на -1 для соответствия потоку документа
    $offset: $offset * -1;

    margin-left: $offset;
}