section.slider.slider_type_testimonials(data-dots="true", data-dotsClass="slider__dots", data-adaptiveHeight="true")
    div.slider__wrapper
        div.slider__inner
            - var n = 0;
            - var slides = 2;
            while n < slides
                - n++
                div.slider__slide.testimonials
                    article.testimonials__item.testimonial
                        img.testimonial__thumbnail(src="dist/images/content/placeholders/60x60.jpg")
                        span.testimonial__author Martin H. Jhonsons

                        div.rating.testimonial__rating
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon.rating__icon_empty
                                use(xlink:href="#icon-star")

                        div.testimonial__content
                            | Together, we'll couple our knowledge, expertise, and innovative capabilities with your astute knowledge of your business—to maximize and optimize results. This is all accomplished in a number of ways.


                    article.testimonials__item.testimonial
                        img.testimonial__thumbnail(src="dist/images/content/placeholders/60x60.jpg")
                        span.testimonial__author Tony SH. Schults

                        div.rating.testimonial__rating
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")

                        div.testimonial__content
                            |  When selecting DMCS as the design-build team, clients benefit in terms of efficiency and continuity that translate into cost savings and optimized schedules. Contact us today and see how DMCS...


                    article.testimonials__item.testimonial.testimonial_size_small
                        img.testimonial__thumbnail(src="dist/images/content/placeholders/60x60.jpg")
                        span.testimonial__author David Mc. Adams

                        div.rating.testimonial__rating
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon
                                use(xlink:href="#icon-star")
                            svg.icon.icon_star.rating__icon.rating__icon_empty
                                use(xlink:href="#icon-star")

                        div.testimonial__content
                            | In most urban areas, construction has already built existing structures, many having been standing for decades.