section.slider.slider_type_projects(data-arrows="true", data-adaptiveHeight="true")
    div.slider__inner
        
        article.slider__slide.project
            div.project__information
                header.project__header
                    h2.project__title Contemporary Villa

                div.project__description
                    p
                        | Diversity is a buzzword often heard by brand managers, business tycoons, politicians, and more; but it's much more than that. To us at DM Construction, diversity is the name of the game.

                    p
                        | We offer a diverse set of skills to all clients in all fields, but also offer a diverse group of individuals who are able to deliver those skills.

                a.btn.project__btn(href="#")
                    | View Project

            div.project__imagebox
                img.image.project__image(src="dist/images/content/placeholders/1254x826.jpg")

        article.slider__slide.project
            div.project__information
                header.project__header
                    h2.project__title Contemporary Villa

                div.project__description
                    p
                        | Diversity is a buzzword often heard by brand managers, business tycoons, politicians, and more; but it's much more than that. To us at DM Construction, diversity is the name of the game.

                    p
                        | We offer a diverse set of skills to all clients in all fields, but also offer a diverse group of individuals who are able to deliver those skills.

                a.btn.project__btn(href="#")
                    | View Project

            div.project__imagebox
                img.image.project__image(src="dist/images/content/placeholders/1254x826.jpg")



    div.arrows.slider__arrows
        svg.arrows__arrow.arrows__arrow_next(title="Next")
            use(xlink:href="#icon-arrow")

        div.counter
            span.counter__current 01
            span.counter__count ...

        svg.arrows__arrow.arrows__arrow_prev(title="Previous")
            use(xlink:href="#icon-arrow")