section.slider.slider_type_posts(data-arrows="true", data-appendArrows="#slider-posts-arrows", data-adaptiveHeight="true")
    div.slider__wrapper
        div.slider__inner
            - var n = 0;
            - var slides = 2;
            while n < slides
                - n++

                div.slider__slide
                    article.entry-card
                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | The Daily Reporter Selects Gilbane Building Company as 2014 Wisconsin Builder of the Year

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments

                        div.entry-card__imagebox
                            img.image(src="dist/images/content/placeholders/586x293.jpg", alt="")


                    article.entry-card
                        div.entry-card__imagebox
                                img.image(src="dist/images/content/placeholders/586x293-dark.jpg", alt="")

                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | General <br> Contracting

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments


                    article.entry-card
                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | General <br> Contracting

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments

                        div.entry-card__imagebox
                            img.image(src="dist/images/content/placeholders/586x293.jpg", alt="")


                    article.entry-card
                        div.entry-card__imagebox
                                img.image(src="dist/images/content/placeholders/586x293-dark.jpg", alt="")

                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | General <br> Contracting

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments


                    article.entry-card
                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | General <br> Contracting

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments

                        div.entry-card__imagebox
                            img.image(src="dist/images/content/placeholders/586x293.jpg", alt="")

                    
                    article.entry-card
                        div.entry-card__imagebox
                                img.image(src="dist/images/content/placeholders/586x293-dark.jpg", alt="")

                        div.post-preview.entry-card__contentbox
                            header.post-preview__header
                                time.time.post-preview__time 12 february, 2015
                                h3.post-preview__title
                                    | General <br> Contracting

                            footer.post-preview__meta
                                a.post-preview__comment-count(href="#")
                                    | 23 comments