@mixin icon() {
    display: inline-block;
    vertical-align: middle;

    // поскольку емы для данных свойств высчитываются на основе
    // размера шрифта элемента, мы сможем управлять размером иконки
    // на основе ее кегля
    width: 1em;
    height: 1em;
}